---
import AboutHeroImage from '../pages/DSCN0410.JPG';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="I'm going to Sweden!!!!"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		text here
	</p>

	<p>
		text here
	</p>

	<p>
		text here
	</p>

	<p>
		text here
	</p>

	<p>
		text here
	</p>
</Layout>
